TZ=Europe/Madrid
PUID=1000
PGID=1000

# Arcane
PROJECTS_DIRECTORY=/home/user/projects # Ruta de proyectos en el host (la que quieres que Arcane gestione)
APP_URL=http://IP_HOSTNAME:3552 # Cambia por la URL de tu aplicación
ENCRYPTION_KEY=

# Tailscale
TS_AUTHKEY=tskey-auth-kXXXXX-XXXXXX # Clave de autenticación de Tailscale
TS_HOSTNAME=mydockerhost # Cambia por el nombre de host que quieras para Tailscale
TS_ROUTES=192.168.X.X/24 # Cambia por la subred de tu red local
